---
layout: default
title: Home
---

{% if page.url == "/" %}
    {% assign featured_posts = site.posts | where:"featured",true %}
    {% if featured_posts.size > 0 %}
    <!-- Featured
    ================================================== -->
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Featured</span></h2>
        </div>
        <div class="row">

        {% for post in site.posts %}

            {% if post.featured == true %}

                {% include featuredbox.html %}

            {% endif %}

        {% endfor %}
        </div>
    </section>
    {% endif %}
{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

