.post-image-credits {
  text-align: center;
  color: rgba(117, 117, 117, 1);
  margin-top: -14px;
  margin-bottom: 16px;
}
.article-post {
  p {
    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  table {
    tr {
      border: 1px solid #dbdbdb;
      & > :not(:first-child) {
        border-left: 1px solid #dbdbdb;
      }
      th,
      td {
        padding: 0.5rem;
      }
    }
  }
}
